@model IEnumerable<IHFF.Models.RestaurantsMetProductId>
@{
    ViewBag.Title = "Restaurants";
}

<script>


</script>
<div class="row">
    <div class="col-md-9">
        <div id="ProgramRestaurant" style="display:none">
            <div id="programName">
            </div>
            <div id="programPoster">
            </div>
            <table>
                <tr>
                    <td>Aantal personen</td>
                    <td><input type="number" id="programAantal" /></td>
                </tr>
                <tr>
                    <td>Datum</td>
                    <td><input type="datetime-local" id="programDate" /></td>
                </tr>
            </table>
            <div style="float: right">
                <a class="blueBtn" id="confirmReservationButton" onclick="confirmProgram()">Confirm</a>
            </div>
        </div>
        <div id="OrderRestaurant" style="display:none">
            <div id="orderName">
            </div>
            <div id="orderPoster">
            </div>

            <table>
                <tr>
                    <td>Aantal personen</td>
                    <td><input type="number" id="orderAantal" /></td>
                </tr>
                <tr>
                    <td>Datum</td>
                    <td><input type="datetime-local" id="orderDate" /></td>
                </tr>
            </table>
            <div style="float: right">
                <a class="blueBtn" id="confirmReservationButton" onclick="confirmReservation()">Confirm</a>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="container-fluid">
                <div class="row box">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <img style="width: 230px;height: 150px;margin: 10px;margin-top: 25px;" src="@Html.DisplayFor(modelItem => item.Poster)" />
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3>
                                            <div class="title" onclick="MapsLocation('@item.Address')">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </div>
                                        </h3>
                                        <p>
                                            @Html.DisplayFor(modelItem => item.Description_EN)
                                            @Html.DisplayFor(modelItem => item.Description_NL)
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.DisplayFor(modelItem => item.Address)
                                        <br />
                                        Openingstijden:

                                        @Html.DisplayFor(modelItem => item.OpenHours)
                                    </div>
                                    <div class="col-md-6 alignbottom">
                                        <a class="blueBtn" onclick="MapsLocation('@item.Address')">Map</a>

                                        <a class="yellowBtn" onclick="openProgramDialog(); fillProgramDialogInfo(@item.productId, '@item.Name', '@item.Poster')">
                                            Add to program
                                        </a>
                                        <a class="blueBtn" onclick="openOrderDialog(); FillOrderDialogInfo(@item.productId, '@item.Name', '@item.Poster')">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3">
        <iframe style="position:fixed" id="maps" width="25%" height="375" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=Haarlem&t=&z=14&ie=UTF8&iwloc=&output=embed" marginwidth="0">

            <style>
                #gmap_canvas img {
                    max-width: none !important;
                    background: none !important;
                }
            </style>
        </iframe>
    </div>
</div>
