@model IEnumerable<IHFF.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}






@foreach (var item in Model)
{
    <div class="row box">
        <div class="col-md-2">
            <img class="mainRestaurantImage" src="~/img/p20.jpg" />
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(modelItem => item.Name)
            <p>
                @Html.DisplayFor(modelItem => item.Description_EN)

                @Html.DisplayFor(modelItem => item.Description_NL)

                @Html.DisplayFor(modelItem => item.OpenHours)
                @Html.DisplayFor(modelItem => item.Poster)
            </p>
        </div>
        <div class="col-md-4 ">

            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    </div>
}

