@model List<IHFF.Models.ProductVm>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@IHFF.App_GlobalResources.Resources.ShoppingCart</h4>
</div>
@using (Html.BeginForm("", "", FormMethod.Post))
{
    <div class="modal-body">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-3">
                        <img style="height: 120px;" src="@item.Poster" />
                    </div>
                    <div class="col-md-6">
                        <h2>
                            @item.Title
                        </h2>
                    </div>
                    <div class="col-md-3">
                        <h3>
                            @item.Attendanties
                        </h3>
                    </div>
                </div>
            }
        }
        else
        {
            @IHFF.App_GlobalResources.Resources.EmptyCart
        }

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="Explosion()">@IHFF.App_GlobalResources.Resources.RemoveAll</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@IHFF.App_GlobalResources.Resources.Close</button>
        <button type="button" class="btn btn-primary">@IHFF.App_GlobalResources.Resources.CheckOut</button>
    </div>
}