@using IHFF.Models
@model OrderVm
@{
    ViewBag.Title = IHFF.App_GlobalResources.Resources.CheckOut;
}

<section class="row">
    <section class="col-md-offset-4 col-md-4">
        <section class="row">
            <section class="col-md-4">
                <section class="circle-steps circle">
                    <h1>1</h1>
                </section>
            </section>
            <section class="col-md-4">
                <section class="circle-steps circle">
                    <h1>2</h1>
                </section>
            </section>
            <section class="col-md-4">
                <section class="circle-steps circle">
                    <h1>3</h1>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row">
    <section class="col-md-offset-1 col-md-10">
        <section class="row">
            <h3>@IHFF.App_GlobalResources.Resources.CheckOutItems</h3>
        </section>
        <section class="row">
            @using (Html.BeginForm("Process", "Payment", FormMethod.Post))
            {
                <section id="step1">
                    <section class="row">
                        @if(Model != null && Model.products != null) { 
                        for (int i = 0; i < Model.products.Count; i++)
                        {
                            @Html.HiddenFor(x => x.products[i].ProductId)
                            @Html.HiddenFor(x=>x.products[i].IsRestaurant)
                            @Html.HiddenFor(x => x.products[i].Poster)
                            @Html.HiddenFor(x => x.products[i].Comment)
                            @Html.HiddenFor(x => x.products[i].Description)
                            @Html.HiddenFor(x=>x.products[i].Time)
                            @Html.HiddenFor(x => x.products[i].Title)
                            var item = Model.products[i];
                            if (!item.IsRestaurant)
                            {
                                <div class="Product row col-md-12">
                                    <div class="col-md-2">
                                        <img src="@item.Poster" />
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <h2>@item.Title</h2>
                                        </div>
                                        <div class="row description">
                                            @item.Description
                                        </div>

                                        <div class="row">
                                            <div class="col-md-offset-9 col-md-3">
                                                <i id="" class=" minus fa fa-minus-square-o"></i>
                                                @Html.TextBoxFor(x => x.products[i].Attendanties, new { @class = "attendents", type = "number" })
                                                <i id="" class=" plus fa fa-plus-square-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (item.IsRestaurant)
                            {
                                <div class="Product row col-md-12">
                                    <div class="col-md-2">
                                        <img src="@item.Poster" />
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <h2>@item.Title</h2>
                                        </div>
                                        <div class="row description">
                                            @item.Description
                                        </div>
                                        <div class="row input-append date">
                                            @Html.TextBoxFor(x => x.products[i].Time, new { @class="datetimepicker", data_format= "dd/MM/yyyy hh:mm" })
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-9 col-md-3">
                                                <i id=""class="minus fa fa-minus-square-o"></i>
                                                @Html.TextBoxFor(x => x.products[i].Attendanties,new {@class= "attendents", type="number" })
                                                <i id="" class="plus fa fa-plus-square-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            }
                        }
                    </section>
                </section>
                <section id="step2">
                    <section class="row">
                        <section class="col-md-6">
                            <section class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = IHFF.App_GlobalResources.Resources.Name })
                            </section>
                            <section class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.TextBoxFor(x => x.Prefix, new { @class = "form-control", placeholder = IHFF.App_GlobalResources.Resources.Prefix })
                            </section>
                            <section class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.TextBoxFor(x => x.Lastname, new { @class = "form-control", placeholder = IHFF.App_GlobalResources.Resources.Lastname })
                            </section>
                            <section class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                @Html.TextAreaFor(x => x.Comment, new { @class = "form-control", placeholder = IHFF.App_GlobalResources.Resources.Comment })
                            </section>
                        </section>
                        <section class="col-md-6">
                            <section class="paymentOption">
                                @Html.RadioButtonFor(x => x.PayemntMethod, 1, new { id = "option1" })
                                <label for="option1"><i class="fa fa-credit-card"></i>@IHFF.App_GlobalResources.Resources.Creditcard</label>
                            </section>
                            <section class="paymentOption">
                                @Html.RadioButtonFor(x => x.PayemntMethod, 2, new { id = "option2" })
                                <label for="option2"><i class="fa fa-money"></i>@IHFF.App_GlobalResources.Resources.Cash</label>
                            </section>
                            <section class="paymentOption">
                                @Html.RadioButtonFor(x => x.PayemntMethod, 3, new { id = "option3" })
                                <label for="option3"><i class="fa fa-bank"></i>@IHFF.App_GlobalResources.Resources.Bank</label>
                            </section>
                            <section class="paymentOption">
                                @Html.RadioButtonFor(x => x.PayemntMethod, 4, new { id = "option4" })
                                <label for="option4"><img src="https://www.kaasbox.nl/images/images/Ideal_logo_grey.png" />Ideal</label>
                            </section>
                        </section>
                    </section>
                </section>
                <section id="step3">
                    <section class="row"></section>
                </section>
                <section class="row">
                    <h2>Totaal @if (Model != null)
                    { @Model.Total.ToString("0.00")}
                    </h2>
                </section>
                <button id="prev" type="button" class="btn btn-primary">@IHFF.App_GlobalResources.Resources.Prev</button>
                <button id="next" type="button" class="btn btn-primary">@IHFF.App_GlobalResources.Resources.Next</button>
                <button id="confirm" type="submit" class="btn btn-success">@IHFF.App_GlobalResources.Resources.Confirm</button>
            }
        </section>
    </section>
</section>
<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
    $('.minus').click(function (e) {
        $(this).siblings("input").val(function (i, val) {
            var w = parseInt(val)
            return w-1;
        });
    });

    $('.plus').click(function (e) {
        $(this).siblings("input").val(function (i, val) {
            var w = parseInt(val)
            return w+1;
        });
    });
    var i = 0;
    $('.circle-steps').eq(i).addClass("active");
    $('#prev').click(function (e) {
        $('#step' + (i + 1)).hide();
        $('#next').show();
        $('#confirm').hide();
        $('#step1').hide();
        if (i == 2) {
            $('#step2 input').removeAttr("Style");
            $('#step2 label').removeAttr("Style");
            $('#confirm').hide();
            $('#step1').hide();
        }
        i--;
        if (i == 0) {
            $(this).hide();
        }

        $('#step' + (i + 1)).show();
        $('.circle-steps').removeClass("active");
        $('.circle-steps').eq(i).addClass("active");
    });
    $('#next').click(function (e) {
        $('#step' + (i + 1)).hide();
        $('#prev').show();
        i++;
        if (i == 2) {
            lastStep();
        }
        $('#step' + (i + 1)).show();
        $('.circle-steps').removeClass("active");
        $('.circle-steps').eq(i).addClass("active");
    });
    function lastStep() {
        $('#next').hide();
        $('#step1').show();
        $('#step2 input').css("pointer-events", "none");
        $('#step2 label').css("pointer-events", "none");
        $('#step2').show();
        $('#confirm').show();
    }
</script>