@model IEnumerable<IHFF.Models.Location>

@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_manage.cshtml";
}

<h2>Locations</h2>

<p>
    @Html.ActionLink("Add New Location", "AddLocation")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Streetnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Streetnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @if (item.Type == 3)
                {
                    <p>Culture</p>
                }
                else
                {
                    <p>Movies</p>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "EditLocation", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteLocation", new { id = item.Id })
            </td>
        </tr>
    }

</table>
