@model IEnumerable<IHFF.Models.Movy>
    <br />
    <ul>
        <li><a class="btn btn-default" href="">@IHFF.App_GlobalResources.Resources.Woensdag</a></li>
        <li><a class="btn btn-default" href="">@IHFF.App_GlobalResources.Resources.Donderdag</a></li>
        <li><a class="btn btn-default" href="">@IHFF.App_GlobalResources.Resources.Vrijdag</a></li>
        <li><a class="btn btn-default" href="">@IHFF.App_GlobalResources.Resources.Zaterdag</a></li>
        <li><a class="btn btn-default" href="">@IHFF.App_GlobalResources.Resources.Zondag</a></li>
</ul>

<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.poster)"/>
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plot_EN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("More", "More", new { id=item.id }) |
            @Html.ActionLink("Order Now", "Order Now", new { id=item.id }) |
            @Html.ActionLink("Add to Program", "Add to Program", new { id=item.id })
        </td>
    </tr>
}

</table>
