@model IEnumerable<IHFF.Models.MoviesItem>

<header class="row header">
    <h1 class="text-center">
        <button class="btn btn-secondary btn-lg" href="">@Html.ActionLink(@IHFF.App_GlobalResources.Resources.Woensdag, "Sorted", new {day = DayOfWeek.Wednesday } )</button>
        <button class="btn btn-secondary btn-lg round" href="">@Html.ActionLink(@IHFF.App_GlobalResources.Resources.Donderdag, "Sorted", new { day = DayOfWeek.Thursday })</button>
        <button class="btn btn-secondary btn-lg round" href="">@Html.ActionLink(@IHFF.App_GlobalResources.Resources.Vrijdag, "Sorted", new { day = DayOfWeek.Friday })</button>
        <button class="btn btn-secondary btn-lg round" href="">@Html.ActionLink(@IHFF.App_GlobalResources.Resources.Zaterdag, "Sorted", new { day = DayOfWeek.Saturday })</button>
        <button class="btn btn-secondary btn-lg round" href="">@Html.ActionLink(@IHFF.App_GlobalResources.Resources.Zondag, "Sorted", new { day = DayOfWeek.Sunday } )</button>
    </h1>
</header>

@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row box">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 m-image">
                        <img src="@item.poster" />
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>
                                    @item.title
                                </h3>
                                <p>
                                    @item.plot_EN                          
                                </p>
                            </div>
                            <div class="col-md-4">
                                <br />
                                <br />
                                <br />
                                @foreach (var time in item.times)
                                {
                                    @time.Start
                                    @time.End
                                    @time.Location
                                    @time.day
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4 alignbottom">
                               
                                    @Html.ActionLink("More...", "index","MovieInfo", new { id = item.id }, new { @class = "blueBtn"})

                                    <a href="#"  data-id="@item.id" class = "orderNow yellowBtn">Order now</a>

                                    @Html.ActionLink("Add to Program", "Add to Program", new { id = item.id }, new { @class = "blueBtn" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('.orderNow').click(function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");
            var amount = prompt("Hoeveel tickets");
            AddProductToCart(id, amount);
        });
    });
</script>