@model IEnumerable<IHFF.Models.Movy>

<header class="row header">
    <h1 class="text-center">
        <button class="btn btn-large btn-primary buttonfont" href="">@IHFF.App_GlobalResources.Resources.Woensdag</button>
        <button class="btn btn-large btn-primary buttonfont" href="">@IHFF.App_GlobalResources.Resources.Donderdag</button>
        <button class="btn btn-large btn-primary buttonfont" href="">@IHFF.App_GlobalResources.Resources.Vrijdag</button>
        <button class="btn btn-large btn-primary buttonfont" href="">@IHFF.App_GlobalResources.Resources.Zaterdag</button>
        <button class="btn btn-large btn-primary buttonfont" href="">@IHFF.App_GlobalResources.Resources.Zondag</button>
    </h1>
</header>

@foreach (var item in Model)
{
    <section class="movies">
        <div class="row box">
            <div class="col-md-3">
                <div class="m-image">
                    <img src="@Html.DisplayFor(modelItem => item.poster)" />
                </div>
            </div>
            <div class="titlefont">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(modelItem => item.Plot_EN)
            </div>
            <div class="col-md-2">
                @Html.ActionLink("More", "More", new { id = item.id }) |
                @Html.ActionLink("Order Now", "Order Now", new { id = item.id }) |
                @Html.ActionLink("Add to Program", "Add to Program", new { id = item.id })
            </div>
        </div>
    </section>
}
