@model IEnumerable<IHFF.Models.MoviesItem>

<header class="row header">
    <h1 class="text-center">
        <button class="btn btn-large btn-primary buttonfont" href="">@IHFF.App_GlobalResources.Resources.Woensdag</button>
        <button class="btn btn-large btn-primary buttonfont" href="">@IHFF.App_GlobalResources.Resources.Donderdag</button>
        <button class="btn btn-large btn-primary buttonfont" href="">@IHFF.App_GlobalResources.Resources.Vrijdag</button>
        <button class="btn btn-large btn-primary buttonfont" href="">@IHFF.App_GlobalResources.Resources.Zaterdag</button>
        <button class="btn btn-large btn-primary buttonfont" href="">@IHFF.App_GlobalResources.Resources.Zondag</button>
    </h1>
</header>

@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row box">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 m-image">
                        <img src="@item.poster" />
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>
                                    @item.title
                                </h3>
                                <p>
                                    @item.plot_EN                          
                                </p>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4 alignbottom">
                                <button class="btn btn-large b-om " href="">
                                    @Html.ActionLink("More", "More", new { id = item.id })
                                </button>
                                <button class="btn btn-large b-om" href="">
                                    @Html.ActionLink("Order Now", "Order Now", new { id = item.id })
                                </button>
                                <button class="btn btn-large b-atp" href="">
                                    @Html.ActionLink("Add to Program", "Add to Program", new { id = item.id })
                                </button>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
