@model IEnumerable<IHFF.Models.MoviesItem>

<header class="row header">
    <h1 class="text-center">
        <button class="btn btn-primary btn-lg round" href="">@Html.ActionLink(@IHFF.App_GlobalResources.Resources.Woensdag ,"index","MovieInfo")</button>
        <button class="btn btn-primary btn-lg round" href="">@Html.ActionLink(@IHFF.App_GlobalResources.Resources.Donderdag, "index", "MovieInfo")</button>
        <button class="btn btn-primary btn-lg round" href="">@Html.ActionLink(@IHFF.App_GlobalResources.Resources.Vrijdag, "index", "MovieInfo")</button>
        <button class="btn btn-primary btn-lg round" href="">@Html.ActionLink(@IHFF.App_GlobalResources.Resources.Zaterdag, "index", "MovieInfo")</button>
        <button class="btn btn-primary btn-lg round" href="">@Html.ActionLink(@IHFF.App_GlobalResources.Resources.Zondag, "index", "MovieInfo")</button>
    </h1>
</header>

@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row box">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 m-image">
                        <img src="@item.poster" />
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>
                                    @item.title
                                </h3>
                                <p>
                                    @item.plot_EN                          
                                </p>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                @foreach (var time in item.times)
                                {
                                    @time.Start  
                                    @time.End
                                    @time.Location
                                    @time.day
                                }

                            </div>
                            <div class="col-md-4 alignbottom">
                               
                                    @Html.ActionLink("More...", "index","MovieInfo", new { id = item.id }, new { @class = "blueBtn"})

                                    @Html.ActionLink("Order Now", "Order Now", new { id = item.id }, new { @class = "yellowBtn" })

                                    @Html.ActionLink("Add to Program", "Add to Program", new { id = item.id }, new { @class = "blueBtn" })
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
