@model IEnumerable<IHFF.Models.Cultureitem>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>International Haarlem Film Festival</h1>
    <p class="lead">@IHFF.App_GlobalResources.Resources.Welcome</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJNz_LOmZNkamV4F4oYyedMSUGiHnBulQ&callback=myMap"></script>
<!--title, descript, poster-->
@foreach (var item in Model)
{
    <div class="jumbotron container-fluid">
        <div class="row">
            <div class="col-md-4 vertical">
                <img src="@item.poster" class="img-responsive" alt="Teylers Museum" />
                <div class="text-center">
                    <br />
                    <h3>Contact</h3>
                    @item.street
                    @item.streetnumber
                    <br />
                    @item.contact
                </div>
            </div>
            <div class="col-md-5 centered">
                <div class="text-center">
                    <h2>
                        @Html.DisplayFor(modelItem => item.title)
                    </h2>
                    <div class="vertical">
                        @if (Culture.ToUpper().Contains("NL"))
                {
                            @Html.DisplayFor(modelItem => item.description_NL)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.description_EN)
                            @*  *@}
                    </div>
                    <div class="vertical">
                        <i>
                            <br />
                            <br />
                            @if (Culture.ToUpper().Contains("NL"))
                            {
                                @item.openinghours1_NL
                                <br />
                                @item.openinghours2_NL
                            }
                            else
                            {
                                @item.openinghours1_EN
                                <br />
                                @item.openinghours2_EN
                            }
                        </i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 centered">
                <iframe src="@item.maps" width="250" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
}
