<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
        
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/seatmap")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>
    <section class="modal fade" tabindex="-1" role="dialog">
        <section class="modal-dialog" role="document">
            <section class="modal-content"></section><!-- /.modal-content -->
            <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
        </section><!-- /.modal-dialog -->
    </section><!-- /.modal -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="ihff">
                    @Html.ActionLink("iHFF", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(IHFF.App_GlobalResources.Resources.Movies, "Index", "Movie/index")</li>
                    <li>@Html.ActionLink(IHFF.App_GlobalResources.Resources.culture, "Index", "Culture")</li>
                    <li>@Html.ActionLink(IHFF.App_GlobalResources.Resources.Food, "Index", "Restaurants")</li>
                    <li>@Html.ActionLink(IHFF.App_GlobalResources.Resources.PS, "Index", "PS")</li>
                    <li>@Html.ActionLink("Info", "Index", "Info")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("logout", "Logout", "Account")
                        }
                        else
                        {
                            @Html.ActionLink("login", "Login", "Account")
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
                <div class="col-sm-4">
                    <img src="https://www.haarlemmarketing.nl/frontend/img/portal/HaarlemLogo.png" alt="Haarlem Logo" />
                    <p>Copyright &copy; @DateTime.Now.Year - International Haarlem Film Festival</p>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-2">
                    <p>Philharmonie<br>Pathe Haarlem<br>Toneelschuur<br>Patronaat<br></p>
                </div>
                <div class="col-sm-2">
                    <div class="footerline">
                        <p>Stempels Brasserie<br>De Ark<br>Dijkers<br>De Uitkijk<br>Ratatouille Food and Wine<br>Restaurant Terra</p>
                    </div>
                </div>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
   
</body>
</html>
