<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - ihff management</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="~/Content/management.css">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <section class="container">
        <section class="row">
            <section class="col-md-3">
                <nav class="managenavigation">
                    <section class="listholder collapse">
                        <ul class="nav nav-stacked">
                            <li class="navdivider">Navigation</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <a href="@Url.Action("index","Manage")"><i class="fa fa-dashboard"></i> Dashboard</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Pages" ? "active" : "")">
                                <a href="@Url.Action("index","Manage")"><i class="fa fa-edit"></i> Pages</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Movies" ? "active" : "")">
                                <a href="@Url.Action("index","Manage")"><i class="fa fa-video-camera"></i> Movies</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Restaurants" ? "active" : "")">
                                <a href="@Url.Action("index","Manage")"><i class="fa fa-cutlery"></i> Restaurants</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Reservations" ? "active" : "")">
                                <a href="@Url.Action("index","Manage")"><i class="fa fa-check-square-o"></i> Reservations</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Culture" ? "active" : "")">
                                <a href="@Url.Action("culture","Manage")"><i class="fa fa-check-square-o"></i> Culture</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Sales" ? "active" : "")">
                                <a href="@Url.Action("Sales","Manage")"><i class="fa fa-line-chart"></i> Sales</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Highlights" ? "active" : "")">
                                <a href="@Url.Action("index","Manage")"><i class="fa fa-lightbulb-o"></i> Highlights</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Users" ? "active" : "")">
                                <a href="@Url.Action("index","Manage")"><i class="fa fa-user-circle-o"></i> Users</a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </section>
            <section class="col-md-9">
                <section class="headerbar">
                    <section class="title">
                        <h6 class="">
                            IHFF management
                        </h6>
                        <h2>
                            @Html.Raw(ViewBag.Icon + ViewBag.Title)
                        </h2>
                    </section>
                </section>
                <hr class="divider">
                <section class="content">
                    @RenderBody()
                </section>
            </section>
        </section>
    </section>
</body>
</html>